<div class="modal fade" id="customer-order-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Meu pedido</h5>
        <button type="button" id="close-customer-order-modal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="customer-order-items"></div>
        <div class="card bg-info text-white shadow" id="no-items-bag" style="display: none;">
          <div class="card-body">
            Nenhuma produto na sacola
          </div>
        </div>
        <hr>
        <span class="text-dark font-weight-bold">Total: R$ <span id="customer-order-total-value"></span></span>
        <%= render 'admin/customer_orders/form', customer_order: customer_order, delivery_charges: delivery_charges %>
      </div>
      <div class="modal-footer">
        <button type="submit" form="new_customer_order" id="submit-customer-order" class="btn btn-primary btn-block">Realizar pedido</button>
      </div>
    </div>
  </div>
</div>
