<a class="nav-link dropdown-toggle" title="Sacola" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fas fa-shopping-bag fa-fw"></i>
  <span class="badge badge-danger badge-counter" id="bag-amount-items" >0</span>
</a>

<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
  <h6 class="dropdown-header">
    Minha Sacola
    <span class="float-right">Total R$ <span id="bag-total-value">0</span></span>
  </h6>
  <div id="product-bag">
  </div>
  <span class="dropdown-item text-center small text-gray-500" id="message-bag">Nenhum item na sacola</span>
  <a class="dropdown-item text-center small text-gray-500" style="display: none;" id="make-a-customer-order" href="#customer-order-modal" data-toggle="modal" data-target="#customer-order-modal">Fazer pedido</a>
</div>
