<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= root_path %>">
    <div class="sidebar-brand-icon">
      <span>Horti Fruti</span>
      <span>Da Kelly</span>
    </div>
    <div class="sidebar-brand-text mx-3">Horti Fruti Da Kelly</div>
  </a>

  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-clipboard-list"></i>
      <span>Pedidos</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_products_path %>">
      <i class="fas fa-fw fa-box-open"></i>
      <span>Produtos</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_categories_path %>">
      <i class="fas fa-fw fa-table"></i>
      <span>Categorias</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_delivery_charges_path %>">
      <i class="fas fa-shipping-fast"></i>
      <span>Taxa de entrega</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block">

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
