<template id="product-template">
  <div class="dropdown-item d-flex align-items-center" id="product-id">
    <div class="mr-3">
      <div class="icon-circle">
        <img class="img-fluid rounded" id="img-product">
      </div>
    </div>
    <div class="options-item">
      <div class="small text-gray-500">
      <span id="name-product"></span> -
      <span id="amount-product">0</span>
        unidade(s)
      </div>
      R$
      <span id="price-product" class="price-product">
      </span>
    </div>
  </div>
</template>
