<div class="d-flex justify-content-between mt-3">
  <div class="h7">
    <i class="fas fa-clock mr-2"></i>
    <%= customer_order.created_at.strftime("%H:%M") %>
  </div>
  <div class="dropdown no-arrow cursor-pointer">
    <div class="small dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="mr-2">
        <%= display_status_customer_order(customer_order) %>
      </span>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= display_dropdown_item_status_customer_order(customer_order) %>
    </div>
  </div>
</div>
