<%= form_for [:admin, category], { html: { class: "row" } } do |form| %>
  <div class="col-12 col-sm pr-sm-0 mr-2 mb-2">
    <%= form.text_field :name, class: "form-control", placeholder: "Nome" %>
  </div>
  <div class="col-12 col-sm-auto pl-sm-0">
    <%= form.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>
