$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/solid';
@import "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i";

@import "datatables.net-bs4/css/dataTables.bootstrap4.min";

@import "./shared/sb-admin-2";

.action-add {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #fff;
  background: rgba(90, 92, 105, 0.5);
  line-height: 46px;
}

.remove-item {
  position: absolute;
  right: 15px;
}

.font-size-100 {
  font-size: 100% !important;
}

@media only screen and (max-width: 540px) {
  .sidebar .sidebar-brand .sidebar-brand-icon span {
    font-size: .8rem;
    white-space: nowrap;
    display: block;
  }
}

@media only screen and (min-width: 541px) {
  .sidebar .sidebar-brand .sidebar-brand-icon span {
    display: none;
  }

  .sidebar.toggled .sidebar-brand-icon span{
    display: block;
    font-size: .8rem;
    white-space: nowrap;
  }
}
