<template id="customer-order-item-template">
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters">
        <div class="col">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" id="delivery-address"></div>
          <h4 class="small font-weight-bold" id="list-products"></h4>
        </div>
        <div class="col-auto">
          <div class="h7 mb-0 font-weight-bold text-gray-800" id="way-of-payment"></div>
        </div>
      </div>
    </div>
  </div>
</div>
